/**
 * Front-end Styles.
 *
 * Styles for Front-end pages.
 *
 * @since 1.0.0
 *
 * @package Fusion
 */

/**
 * Material Icons
 */
 
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('webfonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url('webfonts/MaterialIcons-Regular.woff2') format('woff2'),
		url('webfonts/MaterialIcons-Regular.woff') format('woff'),
		url('webfonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.close .material-icons	{
	text-shadow:none;
}

.container .container	{
	width:auto;
	padding:0;
}

.full-width-container	{
	width:100%;
	padding-left:6px;
	padding-right:6px;
}

.component.modal > .modal-component-inner	{
	margin-top:50px;
	margin-bottom:50px;
	background:#fff;
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
	position:relative;
	width:960px;
}

.full-width-row > .container-fluid	{
	padding-left:0;
	padding-right:0;
}

.dark h1, .dark .h1, .dark h2, .dark .h2, .dark h3, .dark .h3, .dark h4, .dark .h4, .dark h5, .dark .h5, .dark h6, .dark .h6	{
	color:inherit;
}

.dark a, .dark a:focus, .dark a:hover, .dark a:active	{
	color:inherit;
}

.dark .btn-default {
  color: #333333;
}
.dark .btn-default:focus,
.dark .btn-default.focus {
  color: #333333;
}
.dark .btn-default:hover {
  color: #333333;
}
.dark .btn-default:active,
.dark .btn-default.active,
.dark .open > .dropdown-toggle.btn-default {
  color: #333333;
}
.dark .btn-default:active:hover,
.dark .btn-default.active:hover,
.dark .open > .dropdown-toggle.btn-default:hover,
.dark .btn-default:active:focus,
.dark .btn-default.active:focus,
.dark .open > .dropdown-toggle.btn-default:focus,
.dark .btn-default:active.focus,
.dark .btn-default.active.focus,
.dark .open > .dropdown-toggle.btn-default.focus {
  color: #333333;
}
.dark .btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.nav.nav-tabs	{
	margin:0;
}

.nav.nav-tabs > li	{
	margin:0 0 -1px;
}

.nav > li > a	{
	box-shadow:none;
	text-decoration:none;
}

.nav.nav-tabs > li > a:focus, .nav.nav-tabs > li.active > a:focus	{
	outline:none;
}

.post-metadata	{
	padding:20px 0 0;
	clear:both;
	font-size:12px;
}

.post-metadata .post-tags	{
	display:inline-block;
	margin-top:5px;
	color:#ccc;
}

.post-metadata .post-tags a	{
	color:#ccc;
}

/*Undo outdated normalize.css handling of search inputs*/
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Extra small devices (phones, less than 768px) */
/* This is the default viewport */
@media (max-width: 767px) {
	.full-width-container	{
		padding-left:15px !important;
		padding-right:15px !important;
	}
	.container, .container-fluid	{
		padding-left:15px;
		padding-right:15px;
	}
	.row	{
		margin-left:-15px;
		margin-right:-15px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12	{
		padding-left:15px;
		padding-right:15px;
	}
	.component.modal > .modal-component-inner	{
		margin-top:20px;
		margin-bottom:20px;
		padding-left:15px;
		padding-right:15px;
		width:auto;
	}
	.component.modal > .modal-component-inner > .modal-component-controls	{
		position:relative;
		z-index:2;
	}
	.full-width-container .full-width-row .container	{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.background-image-hidden-xs	{
		background-image:none !important;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.full-width-row.seamless > .container > .row,
	.full-width-row.seamless > .container-fluid > .row,
	.full-width-container.seamless > .row	{
		margin-left:0;
		margin-right:0;
	}
	.full-width-container.seamless	{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.full-width-row.seamless > .container > .row > .col-sm-1, .full-width-row.seamless > .container > .row > .col-sm-2, .full-width-row.seamless > .container > .row > .col-sm-3, .full-width-row.seamless > .container > .row > .col-sm-4, .full-width-row.seamless > .container > .row > .col-sm-5, .full-width-row.seamless > .container > .row > .col-sm-6, .full-width-row.seamless > .container > .row > .col-sm-7, .full-width-row.seamless > .container > .row > .col-sm-8, .full-width-row.seamless > .container > .row > .col-sm-9, .full-width-row.seamless > .container > .row > .col-sm-10, .full-width-row.seamless > .container > .row > .col-sm-11, .full-width-row.seamless > .container > .row > .col-sm-12, .full-width-row.seamless > .container-fluid > .row > .col-sm-1, .full-width-row.seamless > .container-fluid > .row > .col-sm-2, .full-width-row.seamless > .container-fluid > .row > .col-sm-3, .full-width-row.seamless > .container-fluid > .row > .col-sm-4, .full-width-row.seamless > .container-fluid > .row > .col-sm-5, .full-width-row.seamless > .container-fluid > .row > .col-sm-6, .full-width-row.seamless > .container-fluid > .row > .col-sm-7, .full-width-row.seamless > .container-fluid > .row > .col-sm-8, .full-width-row.seamless > .container-fluid > .row > .col-sm-9, .full-width-row.seamless > .container-fluid > .row > .col-sm-10, .full-width-row.seamless > .container-fluid > .row > .col-sm-11, .full-width-row.seamless > .container-fluid > .row > .col-sm-12 	{
		padding:0;
	}
	.full-width-container.seamless > .row > .col-sm-1, .full-width-container.seamless > .row > .col-sm-2, .full-width-container.seamless > .row > .col-sm-3, .full-width-container.seamless > .row > .col-sm-4, .full-width-container.seamless > .row > .col-sm-5, .full-width-container.seamless > .row > .col-sm-6, .full-width-container.seamless > .row > .col-sm-7, .full-width-container.seamless > .row > .col-sm-8, .full-width-container.seamless > .row > .col-sm-9, .full-width-container.seamless > .row > .col-sm-10, .full-width-container.seamless > .row > .col-sm-11, .full-width-container.seamless > .row > .col-sm-12 	{
		padding:0;
	}
}